:root {
    --color1 : #131a2d;
    --color2 : #212346;
    --color3 : #652c9e;
    --color4 : #a03cbe;
    --color5 : #eee6f3;
}


.header-container {
    background-color: black;
    background-size: cover;
    padding: 120px 20px 20px 20px;
    color:var(--color5);
    text-align: center;
    width: 100%;
    margin-bottom:0px; /* Ajusta el ancho según sea necesario */
    
}

#title {
    font-style: italic;
    margin: 0;
    font-size: 2em;
    color: #0B60B0;
}

.header-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-container figure {
    margin: 0;
    text-align: center;
}

.header-container figure img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.header-container figcaption {
    margin-top: 10px;
    font-size: 1em;
    color: var(--color5);
    transition: color 0.3s ease;
}

.header-container figure:hover figcaption {
    color: yellow;
}

.header-container hr {
    border: 1px solid white;
    margin: 20px 0;
}

.header-container nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-container nav ul li {
    display: inline;
    margin: 0 10px;
}

.header-container nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.header-container nav ul li a:hover {
    font-weight: bold;
    font-style: italic;
    color:var(--color4);
}